[*.cs]

# RCS1090: Call 'ConfigureAwait(false)'.
dotnet_diagnostic.RCS1090.severity = none

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = non_public:suggestion

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none
